* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.2),
      rgb(0, 0, 0, 0.2)
    ),
    url("images/vecteezy_beautiful-2d-river-background-with-dirty-road-in-a-village_20981505.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
img {
  width: 400px;
  /* height: 100vh; */
  position: absolute;
  bottom: -10%;
  animation: dog 4s linear;
  animation-iteration-count: infinite;
  /* animation-direction:alternate; */
}
@keyframes dog {
  from {
    translate: -30%;
  }
  to {
    translate: 100vw;
  }
}
